* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.darkBackground {
   background-color: #1f2937;
   padding: 50pt 150pt;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 100pt 0;
}

.header h3 {
    font-size: 24px;
    color: #f9faf8;
}

.header a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
    margin: 0 5px;
}

.webAwesome {
    display: flex;
    gap: 50pt;
}

.awesomeText {
    line-height: 1.5;
}

.awesomeText h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.awesomeText p {
    color: #e5e7eb;
    font-size: 18px;
}

.webAwesome button {
    padding: 10px 50px;
    margin: 25px 0;
    border-radius: 10px;
    background-color: #3882f6;
    border: 0;
    color: #f9faf8;
    font-size: 16px;
}

.placeHolderContainer {
    width: 1000px;
    height: 300px;
    background-color: grey;
}

.placeHolderContainer p {
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 130px;
}

.randomInfo {
    padding: 50pt 0;
    margin: 50px 0;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50pt;
}

.randomInfo h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.boxDiv {
    display: flex;
    flex-direction: column;
    padding: 60pt;
}

.boxDiv p {
    text-wrap: wrap;
    text-align: center;
    margin: 10px 0 0 -30px;
}

.box {
    height: 100px;
    width: 100px;
    border: 10px solid #3882f6;
    border-radius: 5px;
    padding: 50px;
}

.quoteSection {
    background-color: #e5e7eb;
    padding: 50pt 100pt;
    line-height: 2;
}

.quote {
    text-align: center;
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    font-style: italic;
}

.quoteBy {
    text-align: end;
}

.bannerSection {
    padding: 50pt 150pt;
}

.banner {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 30px 100px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
}

.banner button {
    border-radius: 10px;
    padding: 0 20px;
    background-color: #3882f6;
    border: 0;
    color: #f9faf8;
    font-size: 16px;
    border: 1px solid #f9faf8;
}